@model User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    div.billing-info {
       
        display: flex;
        flex-direction: column;
        flex-flow: column;
        flex-wrap: wrap;
        
    }
</style>


<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <div class="card-text">
                <div class="billing-info">
                    <h2>Billing Information</h2>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" name="address" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="text" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" name="state" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group">
                            <label for="zip">Zip Code</label>
                            <input type="text" name="zip" class="form-control form-control-sm" />
                        </div>
                        
                    
                        <input type="submit" value="Submit" class="btn account-btn btn-primary btn-block" />
                </div>
            </div>
        </div>
    </div>
</div>
